<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="<%= configatron.application_name %>" author="<%= configatron.author %>" author_email="<%= configatron.author_email %>" description="">
    <Require feature="opensocial-0.8" />
    <Require feature="views" />
    <Require feature="dynamic-height"/>
    <Require feature="flash" />
  </ModulePrefs>
<% if configatron.pc_available %>
  <Content type="html" view="canvas,home,profile,preview">
    <![CDATA[
    
<%= javascript_include_tag "jquery-1.4.2.min" %>
<%= javascript_include_tag "jquery-ui-1.8.1.custom.min" %>
<%= javascript_include_tag "jsdeferred.mini.js" %>
<%= javascript_include_tag "jquery.protoload" %>
<%= javascript_include_tag "jquery.mixigadget" %>
<%= javascript_include_tag "jrails" %>
<%= javascript_include_tag "strftime" %>
<%= javascript_include_tag "application" %>

<%= stylesheet_link_tag "style" %>

<script type="text/javascript">
(function(){
  $('#gadget_container').mixigadget({base_url: 'http://<%= configatron.application_domain %>'});
})();
</script>
<div id="gadget_container">Now Loading...</div>

    ]]> 
  </Content>
  <Content type="html" view="canvas">
    <![CDATA[

<!-- MIXI AD PROGRAM -->
<script type="text/javascript">/*<!--[*/
(function(){
       var url = "http://<%= configatron.mixi_domain %>/ad_application_program_invoker.pl?appli_id=<%= configatron.application_id %>&ad_id=<%= configatron.application_ad_id %>";
        document.writeln(['<scri','pt src="',url,'&ts=',(new Date).getTime(),'">','</scri','pt>'].join(''));
})();
--></script>
<!-- END -->

    ]]> 
  </Content>
<% end %>
<% if configatron.mobile_available %>
  <Content type="url" view="mobile" href="http://<%= configatron.application_domain %><%= configatron.application_mobile_top %>" />
<% end %>

</Module>
